li {
	list-style-type: none;
}
.p-form__container {
	max-width: 480px;
}
.home-container {
	height: 85px;
}
.user-container {
	margin-left: 25%;
}
.user-edit-container {
	height: 500px;
	.btn-container {
		width: 120px;
		margin-left: auto;
	}
	.user-info {
		opacity: 0.5;
		.link-text {
			color: var(--bs-link-color);
			opacity: 1;
		}
		.link-text:hover {
			opacity: 1;
			color: var(--bs-link-color);
		}
	}
}
.header-image-container {
	height: 200px;
}
.tweet-container {
	margin-top: 15vh;
	margin-left: 25vw;
	z-index: -1;
	.tweet-area {
		height: 200px;
	}
}
.horizontal-border {
	display: flex;
	align-items: center;
}
.horizontal-border::before {
	margin-right: 15px;
}
.horizontal-border::before, .horizontal-border::after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background-color: #ccc;
}
.user-image__home {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.user-image__show {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: 125px;
	left: 25px;
}
.edit-form {
	margin-left: 25vw;
	width: 100%;
	text-align: -webkit-center;
	.edit-form__container {
		width: 500px;
		text-align: left;
	}
}
